header .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 0 solid transparent;
  border-radius: 0; }
  header .navbar .navbar-toggle {
    margin: 0;
    border-radius: 0;
    height: 54px; }
header .btn-lg,
header .btn-lg:active,
header .btn-lg:focus {
  border-radius: 0;
  margin-right: 10px;
  background: url("../img/u1001_selected.png") no-repeat 50% 50%;
  width: 54px;
  height: 54px;
  padding: 0; }
header .btn-lg.active,
header .btn-lg.active:active,
header .btn-lg.active:focus {
  background: black url("../img/u1001.png") no-repeat 50% 50%; }
header .breadcrumb {
  margin: 0;
  padding: 15px 0 0 0;
  background: transparent; }
  header .breadcrumb li a {
    color: #777777;
    font-weight: 700; }
header .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">"; }
header .btn-primary {
  background: transparent;
  border: 0;
  border-radius: 0;
  width: 54px;
  height: 54px; }
header .btn-primary:hover,
header .btn-primary:focus,
header .btn-primary:active {
  background: #adadad;
  border: 0; }
header .navbar-default .navbar-nav > li > a {
  color: black; }
header .img {
  text-align: center;
  display: inline-block;
  width: 25px;
  margin-right: 10px; }
header .dropdown-menu > li > a {
  color: #cccccc; }
header .dropdown-menu :last-child > a {
  color: black; }
header .well {
  min-height: 0;
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  header .well .btn {
    border-radius: 0; }
header .navbar-fixed-top {
  top: 53px; }

.container .col-sm-2 {
  padding: 60px 0; }

.sitebar .nav-stacked > li {
  width: 50px; }
  .sitebar .nav-stacked > li a {
    color: black; }
  .sitebar .nav-stacked > li .item-img {
    width: 17px;
    height: 17px; }
  .sitebar .nav-stacked > li .item-capt {
    display: none; }
.sitebar .nav-pills > li.active > a,
.sitebar .nav-pills > li.active > a:focus,
.sitebar .nav-pills > li.active > a:hover {
  background: gray; }

.sitebar.active .nav-stacked > li {
  width: 100%; }
  .sitebar.active .nav-stacked > li .item-capt {
    display: inline-block;
    padding-left: 10px; }

.content {
  padding-top: 23px;
  padding-bottom: 80px;
  /*modal vidat' oskar*/ }
  .content .l2-item {
    background: #f5f5f5; }
  .content .th-dropdown {
    position: relative; }
  .content .column {
    width: 70px; }
    .content .column .column-input {
      width: 50px;
      display: none; }
  .content .column.active .column-capt {
    display: none; }
  .content .column.active .column-input {
    display: inline-block; }
  .content .user {
    border: 1px solid black;
    padding: 20px 0;
    border-radius: 4px; }
    .content .user p {
      padding: 0 7px; }
    .content .user .trigger-modal {
      margin: 5px; }
  .content .user-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .content .user-post {
    background: #cccccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .content .glyphicon-user {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle; }
  .content .actor-user {
    display: inline-block;
    vertical-align: middle; }
  .content .oskar .modal-header,
  .content .oskar .modal-footer {
    border: 0; }
  .content .modal-content {
    padding: 5px; }
  .content .oskar .modal-body {
    padding: 0 15px; }
  .content .oskar .row {
    padding-bottom: 20px; }
  .content .modal .btn {
    margin: 0; }

footer {
  background: gray; }
  footer p {
    text-align: center;
    margin: 20px; }

/*# sourceMappingURL=style.css.map */
