header {
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 0 solid transparent;
    border-radius: 0;

    .navbar-toggle {
      margin: 0;
      border-radius: 0;
      height: 54px;
    }
  }

  .btn-lg,
  .btn-lg:active,
  .btn-lg:focus {
    border-radius: 0;
    margin-right: 10px;
    background: url("../img/u1001_selected.png") no-repeat 50% 50%;
    width: 54px;
    height: 54px;
    padding: 0;
  }

  .btn-lg.active,
  .btn-lg.active:active,
  .btn-lg.active:focus {
    background: black url("../img/u1001.png") no-repeat 50% 50%;
  }

  .breadcrumb {
    margin: 0;
    padding: 15px 0 0 0;
    background: transparent;

    li {
      a {
        color: #777777;
        font-weight: 700;
      }
    }

  }

  .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
  }

  .btn-primary {
    background: transparent;
    border: 0;
    border-radius: 0;
    width: 54px;
    height: 54px;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    background: #adadad;
    border: 0;
  }

  .navbar-default .navbar-nav > li > a {
    color: black;
  }

  .img {
    text-align: center;
    display: inline-block;
    width: 25px;
    margin-right: 10px;
  }

  .dropdown-menu > li > a {
    color: #cccccc;
  }

  .dropdown-menu :last-child > a {
    color: black;
  }

  .well {
    min-height: 0;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    .btn {
      border-radius: 0;
    }
  }

  .navbar-fixed-top {
    top: 53px;
  }
}

.container .col-sm-2 {
  padding: 60px 0;
}

.sitebar {

  .nav-stacked > li {
    width: 50px;

    a {
      color: black;
    }

    .item-img {
      width: 17px;
      height: 17px;
    }

    .item-capt {
      display: none;
    }
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover {
    background: gray;
  }
}

.sitebar.active {
  .nav-stacked > li {
    width: 100%;

    .item-capt {
      display: inline-block;
      padding-left: 10px;
    }
  }
}

.content {
  padding-top: 23px;
  padding-bottom: 80px;

  .l2-item {
    background: #f5f5f5;
  }

  .th-dropdown {
    position: relative;
  }

  .column {
    width: 70px;

    .column-capt {
    }

    .column-input {
      width: 50px;
      display: none;
    }
  }

  .column.active {
    .column-capt {
      display: none;
    }

    .column-input {
      display: inline-block;
    }
  }

  .user {
    border: 1px solid black;
    padding: 20px 0;
    border-radius: 4px;

    p {
      padding: 0 7px;
    }

    .trigger-modal {
      margin: 5px;
    }
  }

  .user-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .user-post {
    background: #cccccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .glyphicon-user {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
  }

  .actor-user {
    display: inline-block;
    vertical-align: middle;
  }

  /*modal vidat' oskar*/

  .oskar .modal-header,
  .oskar .modal-footer {
    border: 0;
  }

  .modal-content {
    padding: 5px;
  }

  .oskar .modal-body {
    padding: 0 15px;
  }

  .oskar .row {
    padding-bottom: 20px;
  }

  .modal .btn {
    margin: 0;
  }
}

footer {
  background: gray;

  p {
    text-align: center;
    margin: 20px;
  }
}

